
/******************************************** RESET ********************************************/
*
{
	box-sizing: border-box;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Ubuntu', sans-serif;
}

html 
{
  font-size: 62.5%;
}
p
{
	font-family: monospace;
	max-width: 700px;
	margin: auto;

	color:#525252;
	font-size:12px;

}


/************************************* REGLAGES GENEREAUX *************************************/
body
{
	background-color: #030444;
	font-size:100%
}

/**********************************Test d'association à ma feuile de style***********************************/
/****************************************Enjoliver titre "Simeon Auguste******************************************************************/
.center h4
{
	color: rgba(255,0,0,0.1);
	font-size: 100px;
	text-transform: uppercase;
	font-weight: 700;
	background-size: cover;
	background-image: url(../img/gif/giphy.gif);
	-webkit-background-clip: text;
	animation: background-text-animation 45s linear infinite;
}

@keyframes background-text-animation
{
	10%
	{
		background-position: left 0px top 10%;
	}

	10%
	{
		background-position: left 1500px top 10%;
	}

	100%
	{
		background-position: left 0px top 50%;
	}
}

.center h4
{
	font-size: 90px;
	margin-top: 50px;
	margin-left: 220px;
	font-family: 'Saira Stencil One', cursive;
	font-family: 'Cinzel Decorative', cursive;
	font-family: 'Racing Sans One', cursive;
}

.s-titre span
{
	font-size: 30px;
	margin-left: 392px;
	font-style: italic;
	font-family: 'Saira Stencil One', cursive;
	font-family: 'Cinzel Decorative', cursive;
	font-family: 'Racing Sans One', cursive;
	font-family: 'Great Vibes', cursive;
	line-height: -0.5;
}

/* hr .sim est la barre en dessous du titre Simeon auguste Ba */
div.sim
{
	border-style: solid;
	border-color: #14b5f5;
	border-width: 1px 0 0 0;
	color: #fcfeff;
	margin-top: -18px;
	width: 835px;
    margin-left: 21%;
}


/**************************************reseaux sociaux footer***************************************************************/
/* reseaux sociaux footer1_ Redimensionner chacun des logos en talle 60px(X)60px2_Reduire en forme circulaire avec le border-radius 3_ajouter une bordure en RGB4_appliquer le code du passage de la souris*/
footer ul li .face
{
	display: block;
	width: 40px;
	height: 40px;
	/* margin: 10px auto;
	*/
	border-radius: 50%;
	margin: 1px;
	border: rgb(7, 149, 231) 10px double;
}

footer ul li .link
{
	display:block;
	width: 40px;
	height: 40px;
	/* margin: 10px auto;
	*/
	border-radius: 50%;
	margin: 1px;
	border: rgb(7, 149, 231) 10px double;
}

footer ul li .twit
{
	display: block;
	width: 40px;
	height: 40px;
	/* margin: 10px auto;
	*/
	border-radius: 50%;
	margin: 1px;
	border: rgb(7, 149, 231) 10px double;
}

footer ul li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-bottom:15px;
}

footer ul li 
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 15px;
    margin-left: 0%;
	margin-right: 3%;
}

/* hover pour les boutons "qui, séance, témoignages, blog" */
.hover:hover
{
	color: black;
	background-color: rgb(255, 255, 255);
	color: rgb(36, 116, 190);
	box-shadow: -2px 2px 15px 0px rgba(251, 246, 246, 0.75);
	background-color: rgb(9, 12, 14);
	border: 2rem #fcfeff;
	transform: scale(1.2);
	transition: all 0.10s ease-in-out 0s;
}

.nav_footer
{
	margin-left: 50px;
}
/**********************************************Logo**********************************************/
.gif img
{
	width: 75px;
	height: 75px;
	margin-top: 50px;
	/* margin: 10px auto;
	*/
	border-radius: 50%;
	margin-left: 50px;
	margin-left: 100px;
}

.logo1 img
{
	width: 300px;
	margin-top: 10px;
}

/************************************Le logo flottant**************************************************/
/* le logo appelé à disparaitre lorsque l'écran est compris entre ]<- 500[ */
/* @media(min-width: 1200px)
{
	.gif img
	{
		display: none;
	}
}

*/
/* le logo appelé  est appelée à apparaitre lorsque l'écran est compris entre ]1200 ->[ */
@media(max-width: 768px)
{
	.gif img
	{
		display: none;
	}
}

/* code css image footer */

/* .gif img 
{
  	display: block;
  	margin-left: auto;
  	margin-right: auto 
} */



/*************************************Apparition reseaux sociaux en displays inline*******************************/
@media(max-width: 500px)
{
	.nav_footer
	{
		position: relative;
		margin-top: 10px;
	}

	.nav_footer
	{
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
	}
}

/*****************************************Disparition du logo*******************************************************************/
@media(max-width: 500px)
{
	.logo1 img
	{
		position: relative;
		margin-top: 10px;
	}

	.logo1 img
	{
		display: none;
		/* flex-direction: row-reverse;
		justify-content: center;
		*/
	}
}
/********************************************Ecran 800*******************************************************************/

@media(max-width: 869px)
{
	.logo1 img
	{
		position: relative;
		margin-top: 10px;
	}

	.logo1 img
	{
		display: none;
		/* flex-direction: row-reverse;
		justify-content: center;
		*/
	}
}
@media(max-width: 1024px)
{
	.logo1 img
	{
		position: relative;
		margin-top: 10px;
	}

	.logo1 img
	{
		display: none;
		/* flex-direction: row-reverse;
		justify-content: center;
		*/
	}
}

/**********************************************Fin logo1************************************************************************/
/******************************************************Le titre Simeon Auguste et P s-titre*********************************************** */
@media(max-width: 500px)
{
	.center
	{
		position: relative;
		margin-top: 10px;
	}

	.center
	{
		display: none;
		/* flex-direction: row-reverse;
		justify-content: center;
		*/
	}
}

@media(max-width: 768px)
{
	.center
	{
		position: relative;
		margin-top: 10px;
	}

	.center
	{
		display: none;
		/* flex-direction: row-reverse;
		justify-content: center;
		*/
	}
}

@media(max-width: 800px)
{
	.center
	{
		position: relative;
		margin-top: 10px;
	}

	.center
	{
		display: none;
		/* flex-direction: row-reverse;
		justify-content: center;
		*/
	}
}

/* s-titr */
@media(max-width: 500px)
{
	.s-titre
	{
		position: relative;
		margin-top: 10px;
	}

	.s-titre
	{
		display: none;
		/* flex-direction: row-reverse;
		justify-content: center;
		*/
	}
}

@media(max-width: 768px)
{
	.s-titre
	{
		position: relative;
		margin-top: 10px;
	}

	.s-titre
	{
		display: none;
		/* flex-direction: row-reverse;
		justify-content: center;
		*/
	}
}

@media(max-width: 800px)
{
	.s-titre
	{
		position: relative;
		margin-top: 10px;
	}

	.s-titre
	{
		display: none;
		/* flex-direction: row-reverse;
		justify-content: center;
		*/
	}
}
@media(max-width: 1024px)
{
	.s-titre
	{
		position: relative;
		margin-top: 10px;
	}

	.s-titre
	{
		display: none;
		/* flex-direction: row-reverse;
		justify-content: center;
		*/
	}
}

/************************Fin Le titre Simeon Auguste et s-titre********************************************/

@media(max-width: 1024px)
{
	.center
	{
		position: relative;
		margin-top: 10px;
	}

	.center
	{
		display: none;
		/* flex-direction: row-reverse;
		justify-content: center;
		*/
	}
}
/*****************************************Disparition des sections*******************************************************************/
/****************************************************header a text hover menu**********************************************************/
.navbar-brand a
{
	color : black;
text-decoration: none}

.navbar-brand a:hover
{
	text-decoration: underline;
	color: rgb(4, 21, 167);
}

.nav-link a
{
	color : black;
text-decoration: none}

.nav-link a:hover
{
	text-decoration: underline;
	color: rgb(4, 21, 167);
}

/******************************************************hr**********************************/
hr.style1
{
	height: 30px;
	border-style: solid;
	border-color: #8c8b8b;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}

hr.style1:before
{
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;
	border-style: solid;
	border-color: #8c8b8b;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}

/***********************************Titre h3 dynamique************************************************/
/***********************************shazam************************************************************/
section .shazam img
{
	width: 300px;
	height: 100;
}

/***************************************************bouton d'inscriptiont******************************************/
.user-inscription .form-control input
{
	background: none !important;
}

/************************************************section musique**********************************************************************/
#section-music
{
	margin: 0;
	padding: 0;
	background: black !important;
}


/**************************************************Video************************************************************************************/


/**************************************************competence et icone fontawesomes************************************************************/
/* Compétences */
#Competences
{
	padding: 80px 0;
}

.espace
{
	margin-top: 40px;
}

#Competences i.fa
{
	font-size: 40px;
	border: solid #FCAC45 4px;
	width: 100px;
	height: 100px;
	padding: 27px 25px;
	margin-bottom: 10px;
	border-radius: 50%;
	transition: all 0.5s;
}

#Competences i.fa.fa mobile
{
	font-size: 50px;
	padding: 20px 25px;
}

#Competences .Service:hover > i.fa
{
	background: #FCAC45;
	color: #ffffff;
}


.fab
{
	font-size: 40px;
	border: solid #FCAC45 4px;
	width: 100px;
	height: 100px;
	padding: 27px 25px;
	margin-bottom: 10px;
	border-radius: 50%;
	transition: all 0.5s;
}

#Competences i.fab.fa html5
{
	font-size: 50px;
	padding: 20px 25px;
}

/*  */
#Competences i.fas fa-database
{
	font-size: 50px;
	padding: 20px 25px;
}

.fas
{
	font-size: 40px;
	border: solid #FCAC45 4px;
	width: 100px;
	height: 100px;
	padding: 27px 25px;
	margin-bottom: 10px;
	border-radius: 50%;
	transition: all 0.5s;
}
#Competences i.fas fa-database
{
	font-size: 50px;
	padding: 20px 25px
}
#Competences .Service:hover > i.fas
{
	background: #FCAC45;
	color: #ffffff;
}

/* #Competences i.far fa-file-video */

#Competences i.far fa-file-video
{
	font-size: 50px;
	padding: 20px 25px;
}

.far
{
	font-size: 40px;
	border: solid #FCAC45 4px;
	width: 100px;
	height: 100px;
	padding: 27px 25px;
	margin-bottom: 10px;
	border-radius: 50%;
	transition: all 0.5s;
}
#Competences i.far fa-file-video
{
	font-size: 50px;
	padding: 20px 25px
}
#Competences .Service:hover > i.far
{
	background: #FCAC45;
	color: #ffffff;
}

/****************************************************Competence ********************************************************************/


.skillbar
{
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title
{
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span
{
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar
{
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent
{
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
.clearfix
{
	background: none	
	
}

.tooltip
{ 
	position:relative;
	float:right;
	
}


.tooltip > .tooltip-inner 
{
	background-color: none; 
	padding:5px 15px; 
	color:rgb(255, 255, 255); 
	font-weight:bold; 
	font-size:16px;
	
}
  
.tooltip-inner
{
	margin-top: 28px;
}
.popOver + .tooltip > .tooltip-arrow 
{	
	border-left: 5px solid transparent; 
	border-right: 5px solid transparent; 
	border-top: 5px solid #111111;
}
	  
  
  
/*********************************************span clas admin***********************************************************************/

span .adm
{
  visibility: hidden;
}

/****************************************************Index imag section**********************************************************/

.img-responsive
{
	max-width : 100%;
 	height: auto;
 	display: block;
}

/********************************************Effet paralax*****************************************************************/

.box1 
{
   height: 100vh; 
   width: 100%;
   background-image: url(../img/realisations/Affi_2020.png);
   background-size: cover;
   background-position: center;
   display: table;
   background-attachment: fixed;
   background-size: 1000px;
   background-repeat: no-repeat;
   
}
.box2 
{
   height: 100vh; 
   width: 100%;
   background-image: url(../img/realisations/Arrafat_Dj.png);
   background-size: cover;
   background-position: center;
   display: table;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 1000px;
}
.box3 
{
   height: 100vh; 
   width: 100%;
   background-image: url(../img/realisations/Affi_Homme_De_Paix.png);
   background-size: cover;
   background-position: center;
   display: table;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 1000px;
}
.box4
{
   height: 100vh; 
   width: 100%;
   background: url(../img/realisations/Les\ Etats\ Généraux\ en\ Civ.png);
   background-size: 600px;
   background-position: center;
   background-repeat: no-repeat;
   display: table;
   background-attachment: fixed;
   margin-bottom: 120px;
   background-repeat: no-repeat;
   background-size: 1000px;
}
.box5
{
   height: 100vh; 
   width: 100%;
   background: url(../img/realisations/Alassane_et_Condé_chez_Macron.png);
   background-size: 600px;
   background-position: center;
   background-repeat: no-repeat;
   display: table;
   background-attachment: fixed;
   margin-bottom: 120px;
   background-repeat: no-repeat;
   background-size: 1000px;
   
}

h4 
{
    font-family: sans-serif;
    font-size: 48px;
    color: #0A1BFF;
    margin: 0;
    text-align: center;
    vertical-align:middle;
}
