/******************************************** RESET ********************************************/
* 
{
  box-sizing: border-box;
  font: sans-serif;
}

/************************************* REGLAGES GENEREAUX *************************************/
body 
{
  background: url(../img/038f3d88f4c60db42d6d158966637376.jpg) no-repeat;
  background-attachment: fixed;
    background-size: cover;
}
/**********************************Page de connexion Admin ***********************************/

/* titre Admin */
#adminConnect 
{
    margin-top: 150px;
    margin-left: 40%;
    color: white;
    border-bottom: 6px solid #4caf54;
    margin-bottom: 5px;
    padding: 2px 0;
    width: 140px;
    font-size: 60px;
}

/*Titre .adminReal */




/***********************************************************Page Accueil Admin***********************************************************/

.login_panel
{
    margin-left: 39%;
    margin-bottom: 50px;
    border-bottom: 6px solid #4caf54;
    width: 140px;
    font-size: 65px;
}



/***************************************************hover********************************************************************/

/* hover pour les boutons "qui, séance, témoignages, blog" */
.hover:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 116, 190);
    box-shadow: -2px 2px 15px 0px rgba(251, 246, 246, 0.75);
    background-color: rgb(9, 12, 14);
    border: 2rem #fcfeff;
    transform: scale(1.2);
    transition: all 0.10s ease-in-out 0s;
  }


  /***********************************************************btn deconnexion***************************************************************/
  
  /***********************************************************Form-group*********************************************************************/

  .form-group
  {
      margin-left: 33%;
  }
  .form-group a 
  {
    text-decoration: none;
    color: white;
  }
  a:visited {
    color: white;
  }
 
  /***************************************Agir sur le formulaire uploder***************************************************/

  .form-data
  {
    margin-top: 250px;
  }
/********************************************************************************************************************/
/**********************************************Paralax***************************************************************/

  header 
  {
    background: url(../038f3d88f4c60db42d6d158966637376.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  h1 
  {
    text-align: center;
    color: #1b99d8;
    font-family: lobster, sans-serif;
    font-size: 13rem;
    margin: 0;
    position: relative;
    top: 25rem;
    letter-spacing: 5px;
    width: 100%;
  }

  /* SECTION */

  .image1
  {
    background: url(img/computers.jpg);
    height: 108rem;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .box
  {
    position: relative;
    top: 50;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 82rem;
    height: 45rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.03);
    color: white;
    line-height: 1.5rem;
    font-family: sans-serif;
    font-weight: 100%;
    padding: 3.5rem;
  }

  h2
  {
    font-size: 4rem;
    font-family: lato sans-serif;
    line-height: 1.25rem;
  }

  .date
  {
    font-size: 2rem;
    opacity: 0.7;
  }

  .text
  {
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
    margin: 0 3rem;
    line-height: 2.5rem;
  }

  .learn 
  {
    background: transparent;
    margin-top: 5rem;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 2.5rem;
    font-weight: 500;
    width: 25rem;
    transition: all 0.4s ease-in;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  
  }

  .learn:hover
  {
    background: rgba(255,255,255,0.9);
    color:black; 
  }

  .image1
  {
    background: url(../img/realisations/Les\ Etats\ Généraux\ en\ Civ.png);
    height: 108rem;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }